.availability__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.availability__form--item {
    color: #1C5D99;
    text-align: center;
}